{% extends 'layout.html' %}

{% block body %}
<!-- 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/jumbotron-narrow.css"> -->
<link href="static/css/login.css" rel="stylesheet">
<script src="static/js/jquery-3.1.1.js"></script>
<script>
  $(function(){
    $.ajax({
      url : '/getBlog',
      type : 'GET',
      success: function(res){
        var div = $('<div>')
            .attr('class', 'list-group')
            .append($('<a>')
            .attr('class', 'list-group-item active')
            .append($('<h4>')
            .attr('class', 'list-group-item-heading'),
            $('<p>')
            .attr('class', 'list-group-item-text')));

        var blogObj = JSON.parse(res);
        var blog = '';
        
        $.each(blogObj,function(index, value){
          blog = $(div).clone();
          $(blog).find('h4').text(value.title);
          $(blog).find('p').text(value.description);
          $('.jumbotron').append(blog);
        });
      },
      error: function(error){
        console.log(error);
      }
    });
  });
</script>
<div class="container">
 <!--  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/showAddBlog">Add Blog</a></li>
        <li role="presentation" class="active"><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <img src="static/images/flask_icon.png" alt="Flask_Icon.png" style="width:100px;"/ >
  </div> -->

  <div class="jumbotron">
    <h2>Welcome User's Blog Home !!</h2>
  </div>
</div>
{% endblock %}
