{% extends 'layout.html' %}

{% block body %}
  <div class="header">
    <img src="static/images/flask_icon.png" alt="Flask_Icon.png" style="width:100px;" />
  </div>
  <div class="jumbotron">
    <h2>Login</h2>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}
    {% endif %}
    <form action="" method="POST" form-signin>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" class="form-control" value={{request.form.email}}>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password" name="password" class="form-control" value={{request.form.password}}>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
{% endblock %}