 {% extends 'layout.html' %} {% block body %}
<div class="loginContainer">
    <div id="blog-portfolio">
        <div class="jumbotron">
            {% for blogs in blogs_list %}
            <div class="blog-portfolio-item blog-img-right">
                <div class="blog-portfolio-figure animate-box">
                    <img src="{{ url_for('static',filename='blog/images/woods.jpeg')}}" width="500" height="400" style="margin-top: 54px;">
                    <p style="margin-top: 30px;"><strong>Created_by: </strong> {{blogs.created_by}}</p>
                    <p style="margin-top: 2px;"><strong>Blog_updated_by: </strong> {{blogs.blog_updated_on}}</p>
                </div>
                <div class=" blog-portfolio-description">
                    <h2>{{blogs.title}}</h2>
                    <p>{{blogs.description|striptags}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

<!-- "{{ url_for( 'static',filename='blog/images/woods.jpeg' )}} " -->