
{% extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="header">
        <h3 class="text-muted">Python Flask App</h3>
    </div>
    {% if current_user.is_authenticated %}
        <div class="jumbotron">
            <h1>Blog App</h1>
            <p class="lead"></p>
            </p>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1>Blog App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="/register" role="button">Register Here</a>
            </p>
        </div>
    {% endif %}

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Blog 1</h4>
            <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>

            <h4>Blog 2</h4>
            <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>

            <h4>Blog 3</h4>
            <p>I can resist everything except temptation.</p>
        <br>
        <hr>
        <div class="col-lg-6">
            <h4>Blog 1</h4>
            <p>No man has a good enough memory to be a successful liar - Abraham Lincoln</p>

            <h4>Blog 2</h4>
            <p>A successful man is one who makes more money than his wife can spend. A successful woman is one who can find such a man.</p>

            <h4>Blog 3</h4>
            <p>I can resist everything except temptation.</p>
        </div>
    </div>
</div>
{% endblock %}